<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="../bootstrap-5.3.2/bootstrap-5.3.2/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../fontawesome-free-6.5.1-web/css/all.css">
</head>

<body>


    <!-- <div class="card" style="width: 300px; height: 300px; object-fit: contain;">
        <img src="https://source.unsplash.com/random/350x350" class="card-img-top" style="width: 100%;">
        <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, fugiat laudantium tenetur consectetur non fuga doloremque nam consequuntur sunt illum soluta!</p>
            <a href="" class="btn btn-primary">Lorem dolor</a>
        </div>
    </div> -->

    <!-- <div class="card" style="width: 18rem;">
        <div class="card-header">Card</div>
        <img src="" class="card-img-top" style="object-fit: cover;">

        <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <h6 class="card-subtitle text-secondary">Card subtitle</h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Item 1</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 3</li>
        </ul>

        <div class="card-body">
            <a href="" class="card-link">Card link</a>
            <a href="" class="card-link">Card link</a>
        </div>
    </div> -->

    <!-- <div class="card" style="width: 40rem; height: 20rem;">
        <img src="https://source.unsplash.com/random" class="card-img-top" style="width: 100%; height: 10rem; object-fit: cover;">
        <div class="card-body">
            <h6 class="card-title">Card title</h6>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam veritatis cumque eaque ab autem est, assumenda magnam labore alias nam id.</p>
        </div>
        <small class="card-body text-secondary">Last updated 3 min ago</small>
    </div> -->

    <!-- <div class="card text-bg-dark" style="width: 200px; height: 200px;">
        <img src="https://source.unsplash.com/random/500x500" class="card-img">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            </p>
            <p class="card-text"><small>Lorem ipsum dolor sit.</small></p>

        </div>
    </div> -->

    <!-- <div class="card" style="max-width: 540px;">
        <div class="row">
            <div class="col-md-5">
                <img src="https://source.unsplash.com/random/500x500" class="img-fluid rounded-start">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h2 class="card-title">Card title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ullam nihil aut!</p>
                    <p class="card-text">
                        <small>Lorem ipsum dolor sit amet consectetur.</small>
                    </p>
                </div>
            </div>
        </div>
    </div> -->


    <!-- <div class="card-group row">
        <div class="card">
             <img src="https://source.unsplash.com/random/350x350">
            <div class="card-body">
                    <h2 class="card-title">title 1</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, soluta?</p>
                    <p class="card-text"><small class="text-secondary">Lorem ipsum dolor sit.</small></p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    Last updated 3 mins ago
                </small>
            </div>
        </div>
        <div class="card">
             <img src="https://source.unsplash.com/random/350x350"> 
            <div class="card-body">
                    <h2 class="card-title">title 2</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, soluta?</p>
                    <p class="card-text"><small class="text-secondary">Lorem ipsum dolor sit.</small></p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    Last updated 3 mins ago
                </small>
            </div>
        </div>
        <div class="card">
             <img src="https://source.unsplash.com/random/350x350"> 
            <div class="card-body">
                    <h2 class="card-title">title 3</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, soluta?</p>
                    <p class="card-text"><small class="text-secondary">Lorem ipsum dolor sit.</small></p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    Last updated 3 mins ago
                </small>
            </div>
        </div>
    </div> -->


    <div class="row">
        <div class="card col-sm-4">
            <div class="d-flex align-items-center justify-content-between">
                <div class="card-header">Header 1</div>
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#header1">Open header</button>
            </div>
            <div class="card-body collapse" id="header1">
                <h3 class="card-title">Title 1</h3>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur blanditiis aut
                    sapiente deleniti vel libero nesciunt architecto nihil? Repellat, facilis iste?</p>
                <p><small class="text-secondary">Updated 3 min ago</small></p>
            </div>
        </div>
        <div class="card col-sm-4">
            <div class="d-flex align-items-center justify-content-between">
                <div class="card-header">Header 2</div>
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#header2">Open header</button>
            </div>
            <div class="card-body collapse" id="header2">
                <h3 class="card-title">Title 2</h3>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur blanditiis aut
                    sapiente deleniti vel libero nesciunt architecto nihil? Repellat, facilis iste?</p>
                <p><small class="text-secondary">Updated 3 min ago</small></p>
            </div>
        </div>
        <div class="card col-sm-4">
            <div class="d-flex align-items-center justify-content-between">
                <div class="card-header">Header 3</div>
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#header3">Open header</button>
            </div>
            <div class="card-body collapse" id="header3">
                <h3 class="card-title">Title 3</h3>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur blanditiis aut
                    sapiente deleniti vel libero nesciunt architecto nihil? Repellat, facilis iste?</p>
                <p><small class="text-secondary">Updated 3 min ago</small></p>
            </div>
        </div>
    </div>

    <script src="../bootstrap-5.3.2/bootstrap-5.3.2/dist/js/bootstrap.bundle.js"></script>
    </script>
</body>

</html>